@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --clr-green: #1a7ef0;
  --clr-gray: #1e1e1e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #28292b;
  color: #fdfdfd;
  user-select: none;
}

.container {
  width: fit-content;
  background: #0f0f0f;
  color: #9b9ca0;
  margin: 0 auto;
  padding: 1em 0.5em;
}

/* NAVIGATION */

h1 {
  color: #fdfdfd;
  text-align: center;
  padding-bottom: 0.5em;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #fdfdfd;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  padding: 0.25em;
}

nav ul li a:hover {
  color: #fdfdfd;
}

nav ul li a {
  text-decoration: none;
  color: #9b9ca0;
}

.active-link {
  padding-bottom: 0.25em;
  border-bottom: 2px solid #fdfdfd;
}
/* DISPLAY RESULTS */

.display-results {
  height: 80vh;
}

/* ITEM CODES */

#display-items {
  width: 360px;
  background-color: #313236;
  color: #fdfdfd;
  padding: 0.25em 0;
  margin-bottom: 1em;
}

.store-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

/* FIBRE COLOUR CODES */

/* ELEMENT SELECTOR  */

.element-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

.element-selector p {
  font-size: 1.25rem;
}
.element-selector .selector-buttons {
  display: flex;
  gap: 2em;
}

.btn {
  background-color: #fff;
  color: var(--clr-gray);
  font-size: 1rem;
  font-weight: 600;
  width: 5em;
  padding: 0.1em;
  cursor: pointer;

  border: none;
  border-radius: 10px;
}

.element-selector .btn:hover {
  background: var(--clr-green);
}

.active {
  background: var(--clr-green);
}

/* FIBRE BY NUMBER / ELEMENT */

.accent {
  color: #fdfdfd;
  font-weight: 600;
}

.fibre-number h2,
.fibre-element h2 {
  font-weight: 400;
  font-size: 2rem;

  border-bottom: 3px solid #fdfdfd;
  margin-bottom: 0.5em;

  text-align: center;
}

.fibre-number,
.fibre-element {
  display: flex;
  flex-direction: column;
}

#fibre-number,
#fibre-element {
  background: #fff;
  color: var(--clr-gray);
  font-weight: 600;
  font-size: 1rem;

  border: none;
  border-radius: 5px;
  margin-bottom: 0.5em;
  padding-left: 0.2em;
}

#display-fibre,
#display-element {
  height: 20vh;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 0.75em;
  font-size: 1.2rem;
}

/* RESET BUTTON */

#reset {
  background: var(--clr-green);
  color: var(--clr-gray);

  font-size: 1rem;
  font-weight: 800;

  width: 100%;
  padding: 0.2em;
  cursor: pointer;

  border: none;
  border-radius: 10px;
}

#reset:hover {
  background: #4597f5;
}

/* FIBRE COLOURS DISPLAY */

.colour-display {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 1rem;
}

.fibre-span {
  display: block;
  width: 60px;
  padding: 0.3em;
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.inline-span {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  width: 6em;
  border-radius: 10px;
}

.blue-fibre {
  background: #0d47a1;
  color: #fff;
}

.orange-fibre {
  background: #e65100;
  color: #fff;
}

.green-fibre {
  background: #1b5e20;
  color: #fff;
}

.red-fibre {
  background: #b71c1c;
  color: #fff;
}

.slate-fibre {
  background: #546e7a;
  color: #fff;
}

.yellow-fibre {
  background: #ffeb3b;
  color: #000;
}

.brown-fibre {
  background: #4e342e;
  color: #fff;
}

.purple-fibre {
  background: #6a1b9a;
  color: #fff;
}

.black-fibre {
  background: #000;
  color: #fff;
}

.white-fibre {
  background: #fff;
  color: #000;
}

.pink-fibre {
  background: #f06292;
  color: #fff;
}

.aqua-fibre {
  background: #6bc9f5;
  color: #fff;
}

/* ALERT */

.alert {
  background: crimson;
  padding: 1em;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  width: 60%;
  border-radius: 10px;
  margin: auto auto;
  text-align: center;
}

@media (max-width: 400px) {
  .wrapper {
    width: 375px;
  }
}

/* SFPs */

.wrapper-row {
  font-size: 14px;
  display: flex;
  gap: 1em;
  padding-block: 5px;
}

.wrapper-column {
  width: 100px;
  color: #fff;
}

.wrapper-header {
  color: #9b9ca0;
  text-decoration: underline;
}

.sfp-header {
  text-align: center;
  text-decoration: underline;
}
